<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>  
    <add 
		name="PostgreSQLConnectionString" 
		connectionString="Host=localhost;Username=postgres;Password=123456;Database=UWP_CS"
	/>
  </connectionStrings>
	
  <appSettings>
	<add key="username" value="admin" />
	<add key="password" value="123456" />
	<add key="email" value="vudh@icd-vn.com" />
  </appSettings>
</configuration>
